<%- include('partials/header.ejs')  %>

<%- include('partials/navbar.ejs')  %>

<div class="container">
  <div class="card m-3">
    <div class="card-header">
      Histórico
    </div>
    <div class="card-body historico-body">
      <% if(mensagem != ""){ %>
        <div class="alert alert-success" role="alert">
          <%= mensagem %>
        </div>
        <% } %>
        <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Largura</th>
                <th scope="col">Altura</th>
                <th scope="col">Comprimento</th>
                <th scope="col">Total de caixa</th> 
                <th scope="col">Cubagem</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
                <% dados.forEach(dado=>{ %> 
              <tr>
                <th><%= dado.createdAt.toLocaleString() %></th>
                <td><%= dado.l %></td>
                <td><%= dado.a %></td>
                <td><%= dado.c %></td>
                <td><%= dado.caixa %></td>
                <td><%= dado.cubagem %></td>
                <td>
                  <a href="/historico/delete/<%= dado.id %>"><i class="fa fa-ban" aria-hidden="true"></i></a>
                  <a href="/historico/edit/<%= dado.id %>"><i class="fas fa-edit"></i></a>
                </td>
              </tr>
              <% }) %> 
            </tbody>
          </table>
    </div>
    
  </div>
</div>

<%- include('partials/footer.ejs')  %>